@page "/Customers/Edit/{Id:int}"
@page "/Customers/Edit/"
@using VideoVault.WebApi
@using Microsoft.AspNetCore.Components.Forms
@inject ICustomerClient CustomerService

<AuthorizeView roles="superuser">
    <Authorized Context="Auth">
        <EditForm Model="@Customer" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <InputNumber @bind-Value="Customer.Id" TValue="int" />
            <InputText @bind-Value="Customer.Name" />
            <InputDate @bind-Value="Customer.CreatedOn" TValue="DateTimeOffset?" />

            <button type="submit">Submit</button>
        </EditForm>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public CustomerDto Customer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Customer = new CustomerDto();
        if (Id > 0)
            Customer = await CustomerService.GetByIdAsync(Id);
    }

    private async Task HandleValidSubmit()
    {
        Customer = await CustomerService.CreateAsync(new UpsertCustomerCommand() { Customer = Customer });
    }
}