@page "/Customers/Edit"
@using VideoVault.WebApi

@inject ICustomerClient CustomerService

<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <Input @bind-Value="customer.Id" @bind-Value:event="OnInitialized" />
    <InputText @bind-Value="customer.Name" @bind-Value:event="OnInitialized" />
    <InputDate @bind-Value="customer.CreatedOn" @bind-Value:event="OnInitialized" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private CustomerDto customer = new CustomerDto(){Id = 1, Name = "test1", CreatedOn = DateTimeOffset.Now};
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(customer);
    }

    private async Task HandleValidSubmit()
    {
        customer = await CustomerService.CreateAsync(new UpsertCustomerCommand() { Customer = customer });
    }
}