@page "/Customers/Edit"
@using VideoVault.WebApi

@inject ICustomerClient CustomerService

<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <Inputn id="ID" @bind="customer.Id" />
    <InputText id="name" @bind="customer.Name" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private Customer customer = new Customer( null, 0,null, "");
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(customer);
    }

    private async Task HandleValidSubmit()
    {
        customer = await CustomerService.CreateAsync(new UpsertCustomerCommand(customer));
    }
}