@page "/Customers/List"
@using System.Net
@using Microsoft.AspNetCore.WebUtilities
@using VideoVault.WebApi
@using VideoVault.WebUI.Services
@using VideoVault.WebUI.Components.Grid

@inject ICustomerClient CustomerService
@inject NavigationManager NavigationManager

<AuthorizeView roles="superuser">
    <Authorized Context="Auth">
        <h1>Users</h1>
        <Grid Items="customers" class="table table-bordered" RowClass='(row, index) => row.Id%2 == 1 ? "table-success" : ""'>
            <GridColumn TRowData="CustomerDto" Expression="c => c.Id" />
            <GridColumn TRowData="CustomerDto" Expression="c => c.Name" />
            <GridColumn TRowData="CustomerDto">
                <a href="/Customers/edit/@context.Id">edit</a>
            </GridColumn>
        </Grid>
    </Authorized>
</AuthorizeView>

@code {
    private List<CustomerDto> customers;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            customers = (await CustomerService.GetAsync()).ToList();
        }
        catch (ApiException e)
        {
            NavigationManager.NavigateTo($"Identity/Account/Login?redirect={NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // execute conditionally for loading data, otherwise this will load
        // every time the page refreshes
        if (firstRender)
        {
            // Do work to load page data and set properties
        }
    }
}