@page "/Identity/Account/login"
@using System.Net
@using VideoVault.WebApi

@inject IIdentityClient IdentityClient

<h1>Login</h1>

<label>Username</label>
<input @bind="userName" placeholder="Username" />
<label>password</label>
<input @bind="password" placeholder="password" />
<button @onclick="@Authenticate">Login</button>

@code {
    private string userName;
    private string password;

    private async Task Authenticate()
    {
        var result = await IdentityClient.AuthenticateAsync(new AuthenticateIdentityCommand(password, userName));
    }
}
