@page "/Identity/Account/login"
@using System.Net
@using VideoVault.WebApi
@using VideoVault.WebUI.Services

@inject IIdentityService IdentityService

<h1>Login</h1>

<label>Username</label>
<input @bind="userName" placeholder="Username"/>
<label>password</label>
<input @bind="password" type="password" placeholder="password"/>
<button @onclick="@Authenticate">Login</button>

@code {
    private string userName = "Test1";
    private string password = "Test123!";

    private async Task Authenticate()
    {
        var result = await IdentityService.AuthenticateAsync(userName, password);
    }
}
