@page "/Templates/List"
@using System.Net
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Localization
@using VideoVault.WebApi
@using VideoVault.WebUI.Services
@using VideoVault.WebUI.Components.Grid

@inject ITemplateClient TemplateService
@inject IStringLocalizer<App> L
@inject NavigationManager NavigationManager

<AuthorizeView roles="superuser">
    <Authorized Context="Auth">
        <h1>@L["TEMPLATES_GENERAL_TITLE"]</h1>
        <Grid Items="templates" class="table table-bordered" RowClass='(row, index) => row.Id%2 == 1 ? "table-success" : ""'>
            <GridColumn TRowData="TemplateDto" Expression="c => c.Id" />
            <GridColumn TRowData="TemplateDto" Expression="c => c.Name" />
            <GridColumn TRowData="TemplateDto">
                <a href="/Templates/edit/@context.Id">@L["BUTTON_EDIT"]</a>
            </GridColumn>
            <GridColumn TRowData="TemplateDto">
                <a href="/Templates/design/@context.Id">@L["BUTTON_DESIGN"]</a>
            </GridColumn>
        </Grid>
        <a href="/Templates/edit/">@L["BUTTON_ADD"]</a>
    </Authorized>
</AuthorizeView>

@code {
    private List<TemplateDto> templates;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            templates = (await TemplateService.GetAsync()).ToList();
        }
        catch (ApiException e)
        {
            NavigationManager.NavigateTo($"Identity/Account/Login?redirect={NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // execute conditionally for loading data, otherwise this will load
        // every time the page refreshes
        if (firstRender)
        {
            // Do work to load page data and set properties
        }
    }
}