@using VideoVault.WebApi
@using Microsoft.Extensions.Localization
@using VideoVault.WebUI.Components.MappingForm;

@inject IStringLocalizer<App> L

@if (IsVisible)
{
    <div class="modal fade show d-block" id="mappingModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">@L[Node.FriendlyName]</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <MappingForm Node="Node"></MappingForm>
                    <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                </div>
            </div>
        </div>
    </div>
}
@code {

    // Next line is needed so we are able to add <TabPage> components inside
    [Parameter]
    public MappingNodeDto Node { get; set; }
    
    [Parameter]
    public bool IsVisible { get; set; }
  
    [Parameter] 
    public EventCallback<bool> IsVisibleChanged { get; set; }
    // Invoke the EventCallback to update the parent component' private field visible with the new value.
    
    private void Close()
    {
        IsVisible = false;
        IsVisibleChanged.InvokeAsync(IsVisible);
    }
}
    