@page "/Users/Edit/{Id:guid}"
@page "/Users/Edit/"
@using System.Net
@using System.Text.Json
@using VideoVault.WebApi
@using Microsoft.AspNetCore.Components.Forms
@using VideoVault.WebUI.Components
@using VideoVault.WebUI.Models
@inject IUserClient UserService
@inject ICustomerClient CustomerService

<AuthorizeView roles="superuser">
    <Authorized Context="Auth">
        <EditForm Model="@User" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <CustomValidator @ref="_customValidator" />
            <ValidationSummary />
            <p>
                <label>
                    User Name:
                    <InputText @bind-Value="User.UserName" />
                </label>
            </p>
            <p>
                <label>
                    E-mail address:
                    <InputText @bind-Value="User.Email" />
                </label>
            </p>
            <p>
                <label>
                    First name:
                    <InputText @bind-Value="User.FirstName" />
                </label>
            </p>
            <p>
                <label>
                    Last name:
                    <InputText @bind-Value="User.LastName" />
                </label>
            </p>
            <p>
                <label>
                    Password:
                    <InputText @bind-Value="User.Password" />
                </label>
            </p>
            <p>
                <label>
                    Confirm password:
                    <InputText @bind-Value="User.PasswordConfirm" />
                </label>
            </p>
            <p>
                <label>
                    Customer:
                    <InputSelect @bind-Value="User.CustomerId">
                        @foreach (var customer in _customers ?? new List<CustomerDto>())
                        {
                        <option value="@customer.Id">@customer.Name</option>
                        }
                    </InputSelect>
                </label>
            </p>

            <button type="submit">Submit</button>
        </EditForm>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public Guid Id { get; set; }

    [Parameter]
    public UserDto User { get; set; }

    private ICollection<CustomerDto> _customers;
    private CustomValidator _customValidator;

    protected override async Task OnInitializedAsync()
    {
        User = new UserDto();
        if (Id != Guid.Empty)
            User = await UserService.GetByIdAsync(Id);
        _customers = await CustomerService.GetAsync();
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            var result = await UserService.CreateAsync(new UpsertUserCommand() {User = User});

            if (result.Succeeded)
                User = result.Output;
        }
        catch (ApiException e)
        {
            if (e.StatusCode == (int)HttpStatusCode.UnprocessableEntity)
            {
                var validationResponse = JsonSerializer.Deserialize<ValidationResponseModel>(e.Response.ToString());

                _customValidator.DisplayErrors(validationResponse.ModelState);
            }
        }
    }
}