@page "/Users/List"
@using System.Net
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Localization
@using VideoVault.WebApi
@using VideoVault.WebUI.Services
@using VideoVault.WebUI.Components.Grid

@inject IUserClient UserService
@inject IStringLocalizer<App> L
@inject NavigationManager NavigationManager

<AuthorizeView roles="superuser">
    <Authorized Context="Auth">
        <h1>Users</h1>
        <Grid Items="_users" class="table table-bordered" RowClass='(row, index) => index%2 == 1 ? "table-success" : ""'>
            <GridColumn TRowData="UserDto" Expression="c => c.UserName" />
            <GridColumn TRowData="UserDto">
                <a href="/Users/edit/@context.Id">@L["GENERAL_BUTTON_EDIT"]</a>
            </GridColumn>
        </Grid>
    </Authorized>
</AuthorizeView>

@code {
    private List<UserDto> _users;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            _users = (await UserService.GetAsync()).ToList();
        }
        catch (ApiException e)
        {
            NavigationManager.NavigateTo($"Identity/Account/Login?redirect={NavigationManager.ToBaseRelativePath(NavigationManager.Uri)}");
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // execute conditionally for loading data, otherwise this will load
        // every time the page refreshes
        if (firstRender)
        {
            // Do work to load page data and set properties
        }
    }
}