@using Microsoft.Extensions.Localization
@using VideoVault.WebApi
@using Microsoft.AspNetCore.Components
@using VideoVault.WebUI.Components.AddNodeModal

@inject IStringLocalizer<App> L 
<div>
    @if (RootNode != null) 
    {
        <ul class="parentUl">
            <CascadingValue Value="@AvailableNodes" Name="AvailableNodes" IsFixed="true">
                <TreeNode Node="RootNode" OnShowNewNodeModalClicked="@(OnShowNewNodeModalCallback)"></TreeNode>
            </CascadingValue>
        </ul>
    }
</div>

<CascadingValue Value="@SelectedNode" Name="Node">
    <CascadingValue Value="@AvailableNodes" Name="AvailableNodes" IsFixed="true">
        <AddNodeModal @bind-IsVisible="ShowNewNodeModal" @bind-IsVisible:event="IsVisibleChanged"></AddNodeModal>
    </CascadingValue>
</CascadingValue>
@code {
    [Parameter]
    public MappingNodeDto RootNode { get; set; }
    
    [Parameter]
    public MappingNodeDto SelectedNode { get; set; }

    [CascadingParameter(Name = "AvailableNodes")]
    public List<MappingNodeDto> AvailableNodes { get; set; }

    private bool ShowNewNodeModal { get; set; }
    
    public string SelectedNewNode { get; set; }
    
    private void OnShowNewNodeModalCallback(MappingNodeDto node)
    {
        SelectedNode = node;
        ShowNewNodeModal = true;
    }
}