::deep .parentUl li ul {
    border-left: dotted 2px black;
    height: fit-content;
    border-start-end-radius: 2px;
}

::deep ul, .parentUl {
    list-style-type: none;
}

::deep .parentUl ul li {
    position: relative;
}
::deep .parentUl ul li:before {
        content: "";
        position: absolute;
        top: 13px;
        left: -40px;
        width: 40px;
        height: 1px;
        border-bottom: dotted 2px black;
}
::deep .parentUl {
    margin: 0;
    padding: 0;
}
    
::deep .node-label {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    display: inline-block;
    font-weight: normal;
}

::deep .node::before {
    display: inline-block;
    margin-right: 6px;
    transition: all 0.45s;
}

::deep .node::before {
    transition: all 0.45s;
}

::deep .nested {
    display: none;
    transition: all 0.45s;
}

::deep .active {
    display: block;
    transition: all 0.45s;
}


::deep .dropzone {
}

::deep .no-drop {
}

::deep .can-drop {
}

::deep .draggable {
    cursor: grab;
}

::deep .draggable:active {
    cursor: grabbing;
}

::deep .dragging {
    cursor: grabbing;
}