@using VideoVault.WebApi
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> L
<li>
                        
    <span @onclick="@(()=>SpanToggle(Node))">@L[Node.FriendlyName]</span>
                        
    <ul>
    @if (Node.Children != null) 
    {
        foreach (var node in Node.Children)
        {
            <TreeNode Node="node"></TreeNode>
        }
    }
    </ul>
    
</Li>

@code {
    [Parameter]
    public MappingNodeDto Node { get; set; }

    // Add the column to the parent Grid component.
    // OnInitialized is called only once in the component lifecycle
    protected override void OnInitialized()
    {
    }

    protected override void OnParametersSet()
    {
    }

    private void SpanToggle(MappingNodeDto node)
    {
        throw new NotImplementedException();
    }

}
